extends ../layout


block content

  .page-header
    .pull-right
      include ../common/filtering
    h2 Topplista - Journalister

  table.table.table-striped.table-hover.table-authors
    thead
      th.span1 #
      th Journalist
      th.span2 Snittbetyg
      th.span2 Röster
    tbody.target
      include listDetailedRows

  mixin moreButton(baseUrl, '.target', items.length, 1)
